{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="description" content="About author">
<meta name="author" content="Ravshanbek Madaminov">
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<!-- Begin Top Author Page
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>Ravshanbek Madaminov</h1>
						<span class="author-description"><a target="_blank" href="https://www.medwait.com/">{% blocktrans %}Founder of MedWait</a> and <strong>Software engineer</strong> with 1.5 years of experience{% endblocktrans %} </span>
						<span class="col"><a href="https://www.github.com/ravshanbekio/">{% blocktrans %}Github page{% endblocktrans %}</a></span>
						<!-- <div class="sociallinks"><a  target="_blank" href="https://www.facebook.com/wowthemesnet/"><i class="fa fa-facebook"></i></a> <span class="dot"></span> <a target="_blank" href="https://plus.google.com/s/wowthemesnet/top"><i class="fa fa-google-plus"></i></a></div> -->
					</div>
					<div class="col-md-2 col-xs-12">
						<img class="author-thumb" src="{% static 'assets/img/profile_image.JPG' %}" alt="Sal">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->
{% endblock content %}